<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="con1" connectionString="Server=127.0.0.1; Port=3307; Database=xxx; Uid=root; Pwd=ppp;charset=utf8" />
		<add name="con2" connectionString="metadata=res://*/Model.LFXModel.csdl|res://*/Model.LFXModel.ssdl|res://*/Model.LFXModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=root;password=ppp;SslMode=none;persistsecurityinfo=False;port=3307;database=xxx&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

</configuration>